<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Babel Example</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Locale: {{ locale }}</h1>
        <h1>Local Date: {{ local_date }}</h1>
        <h1>Local Datetime: {{ local_datetime }}</h1>
        <h1>Timezone: {{ timezone }}</h1>
        <h1>Name: {{ florian }}</h1>
        <h1>Language: {{ python }}</h1>
        <h1>Flask: {{ _('flask') }}</h1>
        <h1>Extension: {{ _('extension') }}</h1>
    </body>
</html>