click==7.1.2
dnspython==2.6.1
email-validator==1.1.1
Flask==2.2.5
Flask-WTF==0.14.3
idna==3.7
itsdangerous==1.1.0
Jinja2==3.1.4
MarkupSafe==1.1.1
Werkzeug==3.0.3
WTForms==2.3.1
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
